@import url("https://use.typekit.net/uyi1vod.css");
@import url('https://fonts.googleapis.com/css?family=Playfair+Display');

body {
    margin: 0;
    width: 1920px;
    height: 2280px;
    text-align: center;
    color: #ffffff;
    display: flex;
    flex-direction: column;
}

a {
    text-decoration: none;
    color: #ffffff;
    font-family: Montserrat;
    font-size: 14px;
    font-weight: 700;
}

#content {
    height: 1280px;
    background-image: url("../img/background.png");
}

header {
    width: 1723px;
    height: 117px;
    border-bottom: 1px solid rgba(255, 255, 255, 0.24);
    padding-top: 80px;
    display: flex;
    margin: auto;
}

header a {
    margin-right: 18px;
    margin-left: 25px;
}

header a:nth-child(1) {
    margin-right: auto;
    margin-left: 0px;
}

header a:nth-child(5) {
    margin-left: auto;
    margin-right: 0px;
}

header a:last-child {
    margin-right: 0px;
}

main {
    width: 733px;
    height: 667px;
    margin: auto;
    padding-bottom: 55px;
}

main > p {
    font-family: Montserrat;
    font-weight: 300;
    font-size: 20px;
    line-height: 34px;
    margin-bottom: 90px;
}

main > p:first-of-type {
    font-family: PlayfairDisplay;
    font-size: 140px;
    font-weight: 400;
    margin-top: 240px;
    line-height: normal;
    margin-bottom: 5px;
}

#really {
    margin: auto;
    width: 163px;
    height: 36px;
    background-color: #da7074;
    position: relative;
    padding-top: 10px;
    border-radius: 50px;
    z-index: 0;
}

.red-line {
    width: 1px;
    height: 190px;
    transform: translate(80px, -100px);
    background-color: #da7074;
}

.red-line:first-of-type {
    transform: translate(75px, 75px);
}

.red-line:last-of-type {
    width: 449px;
    height: 1px;
    transform: translate(-152px, -390px);
    z-index: -1;
}

.article {
    width: 480px;
    height: 500px;
    text-align: left;
}

.article img {
    position: absolute;
    z-index: -1;
}

#articles {
    display: flex;
}

#articles .article  p {
    font-family: Georgia;
    font-size: 18px;
    line-height: 30px;
    text-align: center;
    font-style: italic;
    padding-top: 320px;
}

#articles .article > p:first-line {
    font-family: Montserrat;
    font-weight: 600;
    line-height: 30px;
    font-style: normal;
}

#about {
    display: flex;
}

#about .article {
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 404px;
    align-items: flex-start;
}

#about .article:nth-child(1) {
    margin-left: 200px;
}

#about .article:nth-child(4) {
    margin-right: 190px;
}

#about .article p {
    font-family: Montserrat;
    color:#151515;
    font-size: 14px;
    font-weight: 700;
    line-height: 26px;
}

#about .article a {
    font-family: Georgia;
    color:#565656;
    font-weight: 400;
    font-style: italic;
    line-height: 26px;
}

#about .article:last-child p:last-child {
    font-family: Georgia;
    color:#575757;
    font-style: italic;
    line-height: 26px;
    font-weight: 400;
}

#footer {
    background-color: #000000;
    width: 1920px;
    height: 96px;
}

#footer p {
    font-family: Georgia;
    font-size: 12px;
    font-style: italic;
    line-height: 24px;
    padding-top: 20px;
}
